footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0 4px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes icons-effect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 30px;
}
.footer-icons:hover .footer-icons__img {
  animation: 1s icons-effect infinite;
}
.footer-icons__desc {
  margin-top: 4px;
  font-size: 11.2px;
  font-weight: 600;
}
